Flask==2.3.3
opencv-python==4.8.0.76
torch==2.0.1
torchvision==0.15.2
ultralytics==8.0.164
urllib3==2.0.4
Werkzeug==2.3.7
ibm-cos-sdk==2.13.1
ibm-cos-sdk-core==2.13.1
ibm-cos-sdk-s3transfer==2.13.1
os
time
