<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection API</title>
</head>
<body>
    <header>
        <h1 style="text-align: center;">Aircraft Exterior Defect API</h1>
    </header>
    <center style="margin-top: 10%; margin-bottom: 10%;">
        <form method="post" enctype="multipart/form-data" name="form1">
            <h3>Upload any image or video</h3>
            <input type="file" name="file">
            <br><br><br><br>
            <button type="submit">Upload</button>
        </form>
    </center>
    <footer>
        <div style="margin-left: 35%;">
            <pre>Developed by :
                    Harsh Kumar         2030043@kiit.ac.in
                    Harshit Lakshakar   2030022@kiit.ac.in
                    Jotiraditya Hazra   2030025@kiit.ac.in
                    Raghubir Siddhant   2030030@kiit.ac.in
            </pre>
        </div>
    </footer>
</body>
</html>